body {
  background-image: url("/images/fast-food-background.jpeg");
}

.main-header {
  color: rgb(20, 86, 18);
  font-family: "open sans", sans-serif;
}

/* .nav-row {
  position: relative;
}

.dropdown-menu-main {
  position: absolute;
  top: 160px;
  left: 370px;
} */

.home-button {
  width: 70px;
}

.fa-solid.fa-location-dot {
  font-size: 2rem;
  color: rgb(255, 166, 0);
  float: right;
}

@media (max-width: 575px) {
  .dropdown-div {
    margin-left: 70px;
  }

  .home-button {
    margin-left: 35px;
  }

  .col.d-flex {
    margin-right: 40px;
  }
}
