body {
  background-image: url("/images/fast-food-background.jpeg");
}

.add-fav-button-div {
  display: flex;
  justify-content: center;
}

.add-fav-button {
  display: flex;
  color: white;
  background-color: #fd7e14;
  border-radius: 4px;
  border: none;
  height: 30px;
  width: 120px;
  justify-content: center;
  align-items: center;
}

.address-div {
  margin: 0 5px;
  font-weight: 450;
}

.address-text,
.rating-text {
  color: rgb(18, 6, 94);
}

.card {
  padding: 0;
}

.card-header {
  padding-left: 20px;
  color: rgb(2, 99, 2);
}

.card-text {
  padding: 10px 5px;
}

.comment-input {
  width: 90%;
  margin-left: 10px;
}

.confirm-button {
  margin-left: 10px;
}

.confirm-delete-button {
  height: 2.5rem;
  margin-right: 20px;
}

.map-div {
  border: 2px solid rgb(0, 253, 42);
  border-radius: 10px;
}

.searchbox {
  width: 1050px;
  border-radius: 3px;
  border: none;
}

.horizontal-line {
  color: rgb(255, 0, 0);
  height: 3px;
  background-color: rgb(0, 34, 255);
  border: 0 none;
}

.main-header {
  color: rgb(142, 8, 8);
  font-family: "open sans", sans-serif;
}

.header-text {
  text-shadow: 3px 2px 2px rgb(53, 158, 43);
}

.header-text-two {
  text-shadow: 3px 2px 2px rgb(255, 47, 0);
}

.header-text-three {
  text-shadow: 3px 2px 2px rgb(211, 211, 6);
}

.home-button {
  width: 70px;
}

.fa-solid.fa-location-dot {
  font-size: 2.3rem;
  color: rgb(255, 166, 0);
  float: right;
}

.info-window-header {
  margin-left: 5px;
}

.info-header-text {
  color: rgb(49, 58, 232);
  text-shadow: 1.5px 1px 5px rgb(255, 102, 0);
}

.rating-div {
  margin: 0 5px;
  font-weight: 450;
}

.search-button {
  height: 37px;
}

@media (max-width: 1400px) {
  .searchbox {
    width: 755px;
  }
}

@media (max-width: 575px) {
  .btn {
    font-size: 12px;
  }

  .entry-btn {
    font-size: 12px;
    margin: 0 10px;
  }

  .favorites-button {
    width: 25%;
  }

  .searchbox {
    margin-top: 12px;
    margin-left: 10px;
    width: 81vw;
  }

  .dropdown-menu-main {
    margin-left: 35px;
  }

  .home-button {
    margin-left: 35px;
  }

  .col.d-flex {
    margin-right: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px;
  }

  .searchbox {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .searchbox {
    margin-top: 10px;
  }
}
